asteroid
basic-pitch
einops
ipykernel
ipywidgets
julius>=0.2.3
librosa
matplotlib
mido
museval>=0.4.0
numpy<2
omegaconf
openunmix
pandas
PyYAML
scipy
soundfile
threadpoolctl
torch>=2.0
torchaudio>=2.0
tqdm
